/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Final Project
 *
 * Global CSS.
 ***************************************************************************/

.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ui-autocomplete {
    background-color: white;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
}

.ui-helper-hidden-accessible { display:none; }

.btn-custom1 {
  background-color: hsl(195, 60%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d95b7", endColorstr="#23748e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2d95b7), to(#23748e));
  background-image: -moz-linear-gradient(top, #2d95b7, #23748e);
  background-image: -ms-linear-gradient(top, #2d95b7, #23748e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d95b7), color-stop(100%, #23748e));
  background-image: -webkit-linear-gradient(top, #2d95b7, #23748e);
  background-image: -o-linear-gradient(top, #2d95b7, #23748e);
  background-image: linear-gradient(#2d95b7, #23748e);
  border-color: #23748e #23748e hsl(195, 60%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-custom2 {
  background-color: hsl(0, 59%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c23232", endColorstr="#791f1f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c23232), to(#791f1f));
  background-image: -moz-linear-gradient(top, #c23232, #791f1f);
  background-image: -ms-linear-gradient(top, #c23232, #791f1f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c23232), color-stop(100%, #791f1f));
  background-image: -webkit-linear-gradient(top, #c23232, #791f1f);
  background-image: -o-linear-gradient(top, #c23232, #791f1f);
  background-image: linear-gradient(#c23232, #791f1f);
  border-color: #791f1f #791f1f hsl(0, 59%, 25.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}

#top
{
    /* center contents */
    text-align: center;
}

#middle
{
    /* center contents */
    text-align: center;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;

    /* center contents */
    text-align: center;
}

.error
{
font-size:11px;
color:#cc0000;
padding:4px;
}

#middle .nav
{
    display: inline-block;
}

#logout
{   
    padding-right:30px;
}

#logo
{
    padding-left:50px;
}

.table form
{
    margin-bottom: 0px;
}

.survey
{
    display:none; 
}

.videosummary
{
    display:none;
}

.audiotranscript
{
    display:none;
}

.background
{
    background:url("../img/Harvardlanding2.png");
    background-size: 100%;
    background-color:#cccccc;
    height: 450px;
}

.well2
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    background: rgba(205,201, 201, .4);

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}

.well2 blockquote *{

    font: Arial,clean, sans-serif;
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
}



body
{
    padding-top: 20px;
}
    
@media (max-width: 1200px) {
    .navbar-outer {
    width:1100px;
}
}


